<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Resource" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
  </configSections>
  <Resource>
    <add key="Home" value="首页" />
    <add key="More" value="更多&gt;&gt;" />
    <add key="CurPos" value="当前位置" />
    <add key="NoData" value="无相关内容" />
    <add key="AboutUs" value="关于我们" />
    <add key="ContactUs" value="联系我们" />
    <add key="LatestNews" value="最新新闻" />
    <add key="NewsList" value="新闻列表" />
    <add key="NewProducts" value="最新产品" />
    <add key="ProductList" value="产品列表" />
    <add key="Date" value="日期：" />
    <add key="Author" value="作者：" />
    <add key="Hits" value="点击率：" />
    <add key="Source" value="来源：" />
    <add key="FirstPage" value="首页" />
    <add key="PrevPage" value="前页" />
    <add key="NextPage" value="后页" />
    <add key="LastPage" value="尾页" />
    <add key="GoPage" value="跳转" />
    <add key="_BusinessScope" value="业务范围" />
    <add key="CompanyAddr" value="" />
    <add key="CompanyZipCode" value="" />
    <add key="CompanyTel" value="" />
    <add key="CompanyFax" value="" />
    <add key="CompanyEmail" value="" />
    <add key="CompanyUrl" value="" />
    <add key="SearchButtonText" value="搜索" />
    <add key="SearchEmptyKeyword" value="请输入搜索关键字" />
  </Resource>
  <appSettings>
    <add key="WebName" value="测试网站" />
    <add key="WebLogo" value="" />
    <add key="WebUrl" value="" />
    <add key="Keywords" value="" />
    <add key="Description" value="" />
    <add key="FootInfo" value="" />
    <add key="Code" value="" />
    <add key="Sender" value="" />
    <add key="Email" value="" />
    <add key="SMTP" value="" />
    <add key="Password" value="" />
    <add key="AutoDelImg" value="1" />
    <add key="AutoRename" value="1" />
    <add key="AutoCreateThumbnail" value="1" />
    <add key="CreateThumbnailMode" value="4" />
    <add key="ProductThumbnailWidth" value="160" />
    <add key="ProductThumbnailHeight" value="130" />
    <add key="NewsThumbnailWidth" value="200" />
    <add key="NewsThumbnailHeight" value="200" />
    <add key="ImageThumbnailWidth" value="116" />
    <add key="ImageThumbnailHeight" value="80" />
    <add key="AddWaterMark" value="" />
    <add key="WaterMarkType" value="2" />
    <add key="ThumbnailWaterMarkImg" value="" />
    <add key="WaterMarkImg" value="" />
    <add key="WaterMarkText" value="debow motor" />
    <add key="ThumbnailWaterMarkTextFontSize" value="10" />
    <add key="WaterMarkTextFontSize" value="40" />
    <add key="WaterMarkTextFont" value="~/manage/fonts/arial.ttf" />
    <add key="WaterMarkTextColor" value="#0000FF" />
    <add key="WaterMarkAngle" value="90" />
    <add key="WaterMarkPosition" value="5" />
    <add key="MemberEnabled" value="0" />
    <add key="MemberReg" value="0" />
    <add key="EmailContent" value="欢迎注册为{0}会员，会员激活后您可以享受更多的专业服务！" />
    <add key="MsgEnabled" value="0" />
    <add key="MsgInterval" value="120" />
    <add key="MsgFilter" value="" />
    <add key="MsgNeedReply" value="1" />
    <add key="MsgSendToEmail" value="0" />
    <add key="MsgEmails" value="" />
    <add key="MsgAutoReply" value="0" />
    <add key="MsgAutoReplyTitle" value="" />
    <add key="MsgAutoReplyContent" value="" />
    <add key="OnlineType" value="0" />
    <add key="OnlineX" value="20" />
    <add key="OnlineY" value="110" />
    <add key="OnlineStyle" value="3" />
    <add key="OnlineStyleColor" value="1" />
    <add key="OnlineIconQQ" value="8" />
    <add key="OnlineIconMSN" value="1" />
    <add key="OnlineIconTaobao" value="2" />
    <add key="OnlineIconAli" value="1" />
    <add key="OnlineIconSkype" value="12" />
    <add key="OnlineOnName" value="1" />
    <add key="OnlineOtherInfo" value="" />
    <add key="WaterMarkAlpha" value="0.2" />
    <add key="ThirdCode" value="" />
    <add key="UrlRewrite" value="false" />
  </appSettings>
</configuration>
