<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="WebName" value="Wenzhou Debow Motor Co.,Ltd." />
        <add key="WebLogo" value="/Files/image/20130602/20130602131258_7888_b.png" />
        <add key="WebUrl" value="http://localhost:21343/" />
        <add key="Keywords" value="wenzhou debow mobor" />
        <add key="Description" value="wenzhou debow mobor" />
        <add key="OnlineType" value="3" />
        <add key="OnlineX" value="18" />
        <add key="OnlineY" value="110" />
        <add key="OnlineStyle" value="3" />
        <add key="OnlineStyleColor" value="1" />
        <add key="OnlineIconQQ" value="1" />
        <add key="OnlineIconMSN" value="1" />
        <add key="OnlineIconTaobao" value="1" />
        <add key="OnlineIconAli" value="1" />
        <add key="OnlineIconSkype" value="1" />
        <add key="OnlineOnName" value="1" />
        <add key="OnlineOtherInfo" value="&lt;p&gt;&#xD;&#xA;	lajsd&#xD;&#xA;&lt;/p&gt;&#xD;&#xA;&lt;p&gt;&#xD;&#xA;	asldkjasd&#xD;&#xA;&lt;/p&gt;&#xD;&#xA;&lt;p&gt;&#xD;&#xA;	kajdslasd&amp;lt;aslsjdf&amp;gt;alsjdiwolaks::&quot;&quot;&amp;lt;.asdlKJ&amp;gt;&#xD;&#xA;&lt;/p&gt;&#xD;&#xA;&lt;p&gt;&#xD;&#xA;	kalsjd&#xD;&#xA;&lt;/p&gt;" />
        <add key="AddWaterMark" value="" />
        <add key="WaterMarkType" value="1" />
        <add key="WaterMarkImg" value="" />
        <add key="ThumbnailWaterMarkImg" value="" />
        <add key="WaterMarkTextFontSize" value="" />
        <add key="ThumbnailWaterMarkTextFontSize" value="" />
        <add key="WaterMarkTextFont" value="" />
        <add key="WaterMarkText" value="" />
        <add key="WaterMarkTextColor" value="" />
        <add key="WaterMarkAngle" value="" />
        <add key="WaterMarkPosition" value="5" />
        <add key="AutoDelImg" value="0" />
        <add key="AutoRename" value="1" />
        <add key="AutoCreateThumbnail" value="0" />
        <add key="CreateThumbnailMode" value="1" />
        <add key="ProductThumbnailWidth" value="160" />
        <add key="ProductThumbnailHeight" value="130" />
        <add key="NewsThumbnailWidth" value="160" />
        <add key="NewsThumbnailHeight" value="160" />
        <add key="ImageThumbnailWidth" value="160" />
        <add key="ImageThumbnailHeight" value="160" />
        <add key="WaterMarkAlpha" value="" />
        <add key="FootInfo" value="Copyright © Wenzhou Debow Motor Co.,Ltd. All Rights Reserved. " />
        <add key="ThirdCode" value="" />
        <add key="UrlRewrite" value="true" />
    </appSettings>
</configuration>