<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="WebName" value="测试网站" />
    <add key="WebLogo" value="" />
    <add key="WebUrl" value="http://localhost/" />
    <add key="Keywords" value="网站关键词" />
    <add key="Description" value="网站描述，一般显示在搜索引擎搜索结果中的描述文字，用于介绍网站，吸引浏览者点击。" />
    <add key="FootInfo" value="版权信息\n地址邮编\n联系方式\n底部其他信息" />
    <add key="Code" value="" />
    <add key="Sender" value="发件人姓名" />
    <add key="Email" value="" />
    <add key="SMTP" value="" />
    <add key="Password" value="" />
    <add key="AutoRename" value="1" />
    <add key="AutoCreateThumbnail" value="1" />
    <add key="CreateThumbnailMode" value="3" />
    <add key="ProductThumbnailWidth" value="600" />
    <add key="ProductThumbnailHeight" value="450" />
    <add key="NewsThumbnailWidth" value="600" />
    <add key="NewsThumbnailHeight" value="450" />
    <add key="ImageThumbnailWidth" value="600" />
    <add key="ImageThumbnailHeight" value="450" />
    <add key="AddWaterMark" value="1" />
    <add key="WaterMarkType" value="0" />
    <add key="ThumbnailWaterMarkImg" value="" />
    <add key="WaterMarkImg" value="" />
    <add key="WaterMarkText" value="Test" />
    <add key="ThumbnailWaterMarkTextFontSize" value="10" />
    <add key="WaterMarkTextFontSize" value="35" />
    <add key="WaterMarkTextFont" value="~/manage/fonts/verdana.ttf" />
    <add key="WaterMarkTextColor" value="#000000" />
    <add key="WaterMarkAngle" value="0" />
    <add key="WaterMarkPosition" value="5" />
    <add key="MemberEnabled" value="0" />
    <add key="MemberReg" value="0" />
    <add key="EmailContent" value="欢迎注册为{0}会员，会员激活后您可以享受更多的专业服务！" />
    <add key="MsgEnabled" value="0" />
    <add key="MsgInterval" value="120" />
    <add key="MsgFilter" value="" />
    <add key="MsgNeedReply" value="1" />
    <add key="MsgSendToEmail" value="0" />
    <add key="MsgEmails" value="" />
    <add key="MsgAutoReply" value="0" />
    <add key="MsgAutoReplyTitle" value="" />
    <add key="MsgAutoReplyContent" value="" />
    <add key="OnlineType" value="0" />
    <add key="OnlineX" value="10" />
    <add key="OnlineY" value="110" />
    <add key="OnlineStyle" value="1" />
    <add key="OnlineStyleColor" value="4" />
    <add key="OnlineIconQQ" value="" />
    <add key="OnlineIconMSN" value="" />
    <add key="OnlineIconTaobao" value="" />
    <add key="OnlineIconAli" value="" />
    <add key="OnlineIconSkype" value="" />
    <add key="OnlineOnName" value="1" />
    <add key="OnlineOtherInfo" value="" />
  </appSettings>
</configuration>
