<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="WebName" value="温州德邦电机有限公司" />
    <add key="WebLogo" value="/Files/image/20130605/20130605093513_4062_b.png" />
    <add key="WebUrl" value="http://localhost:21343/" />
    <add key="Keywords" value="温州德邦|电机|水泵" />
    <add key="Description" value="温州市德邦电机有限公司" />
    <add key="UrlRewrite" value="false" />
    <add key="FootInfo" value="" />
    <add key="Code" value="" />
    <add key="Sender" value="发件人姓名" />
    <add key="Email" value="plz821@163.com" />
    <add key="SMTP" value="smtp.163.com" />
    <add key="Password" value="123456" />
    <add key="AutoDelImg" value="1" />
    <add key="AutoRename" value="1" />
    <add key="AutoCreateThumbnail" value="1" />
    <add key="CreateThumbnailMode" value="4" />
    <add key="ProductThumbnailWidth" value="160" />
    <add key="ProductThumbnailHeight" value="130" />
    <add key="NewsThumbnailWidth" value="200" />
    <add key="NewsThumbnailHeight" value="200" />
    <add key="ImageThumbnailWidth" value="116" />
    <add key="ImageThumbnailHeight" value="80" />
    <add key="AddWaterMark" value="" />
    <add key="WaterMarkType" value="2" />
    <add key="ThumbnailWaterMarkImg" value="" />
    <add key="WaterMarkImg" value="" />
    <add key="WaterMarkText" value="debow motor" />
    <add key="ThumbnailWaterMarkTextFontSize" value="10" />
    <add key="WaterMarkTextFontSize" value="40" />
    <add key="WaterMarkTextFont" value="~/manage/fonts/arial.ttf" />
    <add key="WaterMarkTextColor" value="#0000FF" />
    <add key="WaterMarkAngle" value="90" />
    <add key="WaterMarkPosition" value="5" />
    <add key="MemberEnabled" value="0" />
    <add key="MemberReg" value="0" />
    <add key="EmailContent" value="欢迎注册为{0}会员，会员激活后您可以享受更多的专业服务！" />
    <add key="MsgEnabled" value="0" />
    <add key="MsgInterval" value="120" />
    <add key="MsgFilter" value="" />
    <add key="MsgNeedReply" value="1" />
    <add key="MsgSendToEmail" value="0" />
    <add key="MsgEmails" value="" />
    <add key="MsgAutoReply" value="0" />
    <add key="MsgAutoReplyTitle" value="" />
    <add key="MsgAutoReplyContent" value="" />
    <add key="OnlineType" value="4" />
    <add key="OnlineX" value="20" />
    <add key="OnlineY" value="110" />
    <add key="OnlineStyle" value="3" />
    <add key="OnlineStyleColor" value="2" />
    <add key="OnlineIconQQ" value="8" />
    <add key="OnlineIconMSN" value="1" />
    <add key="OnlineIconTaobao" value="2" />
    <add key="OnlineIconAli" value="1" />
    <add key="OnlineIconSkype" value="12" />
    <add key="OnlineOnName" value="1" />
    <add key="OnlineOtherInfo" value="" />
    <add key="WaterMarkAlpha" value="0.2" />
    <add key="ThirdCode" value="" />
  </appSettings>
</configuration>
