<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="Resource" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </configSections>
    <Resource>
        <add key="Home" value="Home" />
        <add key="More" value="More&gt;&gt;" />
        <add key="CurPos" value="You are here:" />
        <add key="NoData" value="No data" />
        <add key="AboutUs" value="About Us" />
        <add key="ContactUs" value="Contact Us" />
        <add key="LatestNews" value="Latest News" />
        <add key="NewsList" value="News List" />
        <add key="NewProducts" value="New Products" />
        <add key="ProductList" value="Product List" />
        <add key="Date" value="Date:" />
        <add key="Author" value="Author:" />
        <add key="Hits" value="Hits:" />
        <add key="Source" value="Source:" />
        <add key="FirstPage" value="First" />
        <add key="PrevPage" value="Prev" />
        <add key="NextPage" value="Next" />
        <add key="LastPage" value="Last" />
        <add key="GoPage" value="Go" />
        <add key="_BusinessScope" value="Business Scope" />
    </Resource>
    <appSettings>
        <add key="WebName" value="Test Website" />
        <add key="WebLogo" value="" />
        <add key="WebUrl" value="" />
        <add key="Keywords" value="" />
        <add key="Description" value="" />
        <add key="OnlineType" value="0" />
        <add key="OnlineX" value="18" />
        <add key="OnlineY" value="110" />
        <add key="OnlineStyle" value="3" />
        <add key="OnlineStyleColor" value="1" />
        <add key="OnlineIconQQ" value="1" />
        <add key="OnlineIconMSN" value="1" />
        <add key="OnlineIconTaobao" value="1" />
        <add key="OnlineIconAli" value="1" />
        <add key="OnlineIconSkype" value="1" />
        <add key="OnlineOnName" value="1" />
        <add key="OnlineOtherInfo" value="" />
        <add key="AddWaterMark" value="|0||1|" />
        <add key="WaterMarkType" value="0" />
        <add key="WaterMarkImg" value="" />
        <add key="ThumbnailWaterMarkImg" value="" />
        <add key="WaterMarkTextFontSize" value="" />
        <add key="ThumbnailWaterMarkTextFontSize" value="" />
        <add key="WaterMarkTextFont" value="" />
        <add key="WaterMarkText" value="" />
        <add key="WaterMarkTextColor" value="" />
        <add key="WaterMarkAngle" value="" />
        <add key="WaterMarkPosition" value="5" />
        <add key="AutoDelImg" value="0" />
        <add key="AutoRename" value="1" />
        <add key="AutoCreateThumbnail" value="0" />
        <add key="CreateThumbnailMode" value="1" />
        <add key="ProductThumbnailWidth" value="" />
        <add key="ProductThumbnailHeight" value="" />
        <add key="NewsThumbnailWidth" value="" />
        <add key="NewsThumbnailHeight" value="" />
        <add key="ImageThumbnailWidth" value="" />
        <add key="ImageThumbnailHeight" value="" />
        <add key="FootInfo" value="" />
        <add key="ThirdCode" value="" />
        <add key="UrlRewrite" value="false" />
    </appSettings>
</configuration>