<?xml version="1.0"?>
<!-- 
    注意: 除了手动编辑此文件以外，您还可以使用 
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
     “网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表在 
    machine.config.comments 中，该文件通常位于 
    \Windows\Microsoft.Net\Framework\v2.x\Config 中
-->
<configuration>
  <!-- UrlRewriter -->
  <configSections>
    <section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter"/>
  </configSections>
  <appSettings>
    <!-- 后台系统标题 -->
    <add key="SysTitle" value="企业网站信息管理系统"/>
    <!--用户的默认密码-->
    <add key="DefaultPassword" value="123456"/>
    <!-- 文件上传路径，相对根目录的虚拟路径 -->
    <add key="UploadPath" value="~/Files/"/>
    <!-- 文件上传的最大值 -->
    <add key="FileMaxSize" value="10"/>
    <!--数据库备份路径-->
    <add key="DBBackupPath" value="~/DBBackup/"/>
    <!--栏目的模块类别是否可修改，true是，false否-->
    <add key="NodeTypeIsEditable" value="true"/>
    <!--是否记录执行的SQL，1是，0否-->
    <add key="IsSqlLog" value="1"/>
    <!--是否记录错误的消息，1是，0否-->
    <add key="IsErrorLog" value="0"/>
    <!-- 应用状态 DEBUG, RUNNING, OFFLINE。DEBUG状态下记录SQL执行语句到log4net配置的文件 -->
    <add key="AppState" value="RUNNING"/>
  </appSettings>
  <connectionStrings>
    <add name="conn" providerName="System.Data.SQLite" connectionString="Data Source=|DataDirectory|entCMS_V1.s3db;Version=3;FailIfMissing=False;"/>
    <!--<add name="ConnectionString" connectionString="Data Source=localhost;Initial Catalog=jtCMS_V2_dfbwg;Persist Security Info=True;User ID=sa;Password=zzb" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <system.web>
    <!--
        通过 <authentication> 节可以配置
        安全身份验证模式，ASP.NET 
        使用该模式来识别来访用户身份。 
    -->
    <authentication mode="Forms">
      <forms name=".ASPXAUTH" loginUrl="~/Manage/Login.aspx" defaultUrl="~/Manage/Default.aspx" protection="All" timeout="30" requireSSL="false" slidingExpiration="true" enableCrossAppRedirects="false" cookieless="UseDeviceProfile" domain=""/>
    </authentication>
    <!-- UrlRewriter module-->
    <!-- UrlRewriter Windows 2003 IIS 6 Config Setting -->
    <httpModules>
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule,Intelligencia.UrlRewriter"/>
    </httpModules>
    <!--
    <sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" stateNetworkTimeout="3600" timeout="60"/>
    -->
    <!--
  <identity impersonate="true"/>
  -->
    <!--
        如果在执行请求的过程中出现未处理的错误，
        则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
        开发人员通过该节可以配置
        要显示的 html 错误页
        以代替错误堆栈跟踪。

    <customErrors mode="Off" defaultRedirect="error.aspx">
        <error statusCode="403" redirect="NoAccess.htm"/>
        <error statusCode="404" redirect="FileNotFound.htm"/>
    </customErrors>
    -->
    <customErrors mode="Off" defaultRedirect="error.aspx">
      <error statusCode="403" redirect="NoAccess.htm"/>
      <error statusCode="404" redirect="FileNotFound.htm"/>
    </customErrors>
    <pages>
      <controls>
        <add tagPrefix="anp" assembly="AspNetPager" namespace="Wuqi.Webdiyer"/>
      </controls>
    </pages>
    <!-- maxRequestLength的单位是K, 5120表示5*1024K = 5M，10240 = 10M -->
    <httpRuntime maxRequestLength="10240" useFullyQualifiedRedirectUrl="true" executionTimeout="300"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <!-- 
        设置 compilation debug="true" 将调试符号插入
        已编译的页面中。但由于这会 
        影响性能，因此只在开发过程中将此值 
        设置为 true。
      <compilation debug="true"/>
    -->
    <compilation debug="true">
      <buildProviders>
        <add extension=".html" type="System.Web.Compilation.PageBuildProvider"/>
      </buildProviders>
    </compilation>
    <!--<httpHandlers>
      <add path="WebResource.axd" verb="GET" type="System.Web.Handlers.AssemblyResourceLoader" validate="True"/>
      <add verb="*" path="*" type="System.Web.UI.PageHandlerFactory"/>
    </httpHandlers>-->
  </system.web>
  <system.webServer>
    <!--
    <defaultDocument>
      <files>
        <add value="index.aspx"/>
      </files>
    </defaultDocument>
    -->
    <!-- UrlRewriter Windows 7 II7 Config Setting -->
    <modules runAllManagedModulesForAllRequests="true">
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule" preCondition=""/>
    </modules>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <!-- rewriter rules BEGIN -->
  <rewriter>
    <if url="^(.*)/(\?.+)?$">
      <rewrite exists="$1/default.aspx" to="$1/default.aspx$2"/>
      <rewrite exists="$1/index.aspx" to="$1/index.aspx$2"/>
      <rewrite exists="$1/index.html" to="$1/index.html$2"/>
    </if>
    <rewrite url="~/(.*)/Page/(.*).html$" to="~/$1/Page.aspx?node=$2"/>
    <rewrite url="~/(.*)/Inquiry/(.*).html$" to="~/$1/Inquiry.aspx?node=$2"/>
    <rewrite url="~/(.*)/Inquiry/(.*)/(\d+).html$" to="~/$1/Inquiry.aspx?node=$2&amp;p=$3"/>
    <rewrite url="~/(.*)/Sitemap/(.*).html$" to="~/$1/Sitemap.aspx?node=$2"/>
    <rewrite url="~/(.*)/Search/(.*)/(.*)_(\d{1,6}).html$" to="~/$1/Search.aspx?node=$2&amp;kw=$3&amp;page=$4"/>
    <rewrite url="~/(.*)/Search/(.*)/(.*).html$" to="~/$1/Search.aspx?node=$2&amp;kw=$3"/>
    <rewrite url="~/(.*)/Search/(.*)_(\d{1,6}).html$" to="~/$1/Search.aspx?kw=$2&amp;page=$3"/>
    <rewrite url="~/(.*)/Search/(.*).html$" to="~/$1/Search.aspx?kw=$2"/>
    <rewrite url="~/(.*)/(.*)List/(.*)_(\d{1,6}).html$" to="~/$1/$2List.aspx?node=$3&amp;page=$4"/>
    <rewrite url="~/(.*)/(.*)List/(.*).html$" to="~/$1/$2List.aspx?node=$3"/>
    <rewrite url="~/(.*)/(.*)Show/(.*).html$" to="~/$1/$2Show.aspx?id=$3"/>

    <rewrite url="^(/.+(\.gif|\.png|\.bmp|\.jpg|\.ico|\.css|\.js)(\?.+)?)$" to="$1" processing="stop"/>
  </rewriter>
  <!-- rewriter rules END -->
</configuration>