.pressbox {
    padding-top: 30px;
    width: 550px;
}
.pressbox li {
    background: none repeat scroll 0 0 transparent !important;
    display: inline !important;
    float: left;
    height: 120px;
    margin: 0 30px;
    padding: 0 !important;
    width: 115px;
}
.pressbox li a {
    display: block;
    font-size: 12px;
    height: 15px;
    overflow: hidden;
    padding-top: 105px;
    text-align: center;
    width: 115px;
}
.pressbox .btn_press01 {
    background: url("../images/press/btn_press.jpg") no-repeat scroll 0 0 transparent;
}
.pressbox .btn_press02 {
    background: url("../images/press/btn_press.jpg") no-repeat scroll -115px 0 transparent;
}
.pressbox .btn_press03 {
    background: url("../images/press/btn_press.jpg") no-repeat scroll -230px 0 transparent;
}
.pressbox .btn_press01:hover {
    background: url("../images/press/btn_press.jpg") no-repeat scroll 0 -120px transparent;
    text-decoration: none;
}
.pressbox .btn_press02:hover {
    background: url("../images/press/btn_press.jpg") no-repeat scroll -115px -120px transparent;
    text-decoration: none;
}
.pressbox .btn_press03:hover {
    background: url("../images/press/btn_press.jpg") no-repeat scroll -230px -120px transparent;
    text-decoration: none;
}
.pressbar {
    padding: 0 !important;
}
.pressbar a {
    background: none repeat scroll 0 0 transparent !important;
    color: #FF6633 !important;
    display: inline !important;
    padding: 0 !important;
}
.presslistselect {
    border-top: 1px solid #E6E7E8;
    margin-top: 26px;
    padding: 30px 0 20px;
}
.presslistselect span {
    float: left;
}
.presslist_select {
    display: inline;
    float: left;
    margin: 0 5px;
}
.presslist_select .selectbox-wrapper {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: -moz-use-text-color #DBDBDB #DBDBDB;
    border-image: none;
    border-right: 1px solid #DBDBDB;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    color: #646566;
    font-size: 11px;
    margin: -2px 0 0;
    position: absolute;
    text-align: left;
    width: 91px;
}
.presslist_select .selectbox-wrapper ul {
    padding: 0;
}
.presslist_select .selectbox-wrapper UL LI.selected {
    background-color: #DBDBDB;
    color: #FFFFFF;
}
.presslist_select .selectbox-wrapper UL LI.current {
    background-color: #DBDBDB;
    color: #FFFFFF;
}
.presslist_select .selectbox-wrapper UL LI {
    background: none repeat scroll 0 0 transparent;
    cursor: pointer;
    padding: 3px 6px;
    width: 80px;
}
.presslist_select .selectbox {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("../images/select.jpg") no-repeat scroll right 0 transparent;
    border-color: -moz-use-text-color -moz-use-text-color -moz-use-text-color #A6A6A6;
    border-image: none;
    border-style: none none none solid;
    border-width: medium medium medium 1px;
    color: #646566;
    cursor: pointer;
    display: block;
    font-size: 11px;
    height: 17px;
    line-height: 17px;
    padding: 0 6px;
    width: 81px;
}
.indexlistul {
    border-top: 1px dashed #D3D2D2;
    margin-top: 40px;
    width: 550px;
}
.indexlistul li {
    border-bottom: 1px dashed #D3D2D2;
    padding: 20px 10px !important;
    width: 530px !important;
}
.indexlistul li span {
    color: #84888B;
    font-size: 11px;
}
.indexlistul li h3 {
    color: #4D4D4F;
    font-size: 13px;
    font-weight: normal;
}
.btn_signup {
    background: url("../images/press/btn_signup.jpg") no-repeat scroll 0 0 transparent;
    display: block;
    font-size: 14px;
    height: 23px;
    line-height: 23px;
    margin-top: 35px;
    min-height: 23px;
    padding-left: 30px;
    width: 130px;
}
.presspagenav {
    padding: 60px 0;
    text-align: right;
}
.presspagenav span {
    color: #EDECEC;
}
.presspagenav a {
    color: #84888B;
    font-size: 12px;
}
.btn_page {
    padding: 0 10px;
}
.pressdetailtt, .pressdate {
    font-family: Arial,sans-serif;
    font-size: 11px;
}
.pressdate {
    padding: 0;
}
.pressdetailtext {
    font-family: Arial,sans-serif;
    line-height: 17px;
    padding: 15px 0 70px;
}
.btn_pressdetailreturn {
    color: #84888B !important;
    float: right;
}
.publicationsbox {
    border-top: 1px solid #E6E7E8;
    margin-top: 20px;
    width: 550px;
}
.publicationsbox li {
    background: none repeat scroll 0 0 transparent !important;
    border-bottom: 1px solid #E6E7E8;
    padding: 20px 10px !important;
    width: 530px;
}
.publicationsbox li dl {
    width: 530px;
}
.publicationsbox li dl dt {
    float: left;
    width: 99px;
}
.publicationsbox li dl dt img {
    width: 99px;
}
.publicationsbox li dl dd {
    float: left;
    padding: 0 0 0 30px;
    width: 401px;
}
.publicationsbox li dl dd strong {
    color: #F37021;
    float: left;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    width: 261px;
}
.publicationsbox li dl dd p {
    color: #B5B8B9;
    float: left;
    line-height: 18px;
    width: 261px;
}
.btn_publicationsdl {
    background: url("../images/icon_pdf.jpg") no-repeat scroll 0 0 transparent;
    color: #84888B !important;
    display: block;
    float: right;
    height: 14px;
    padding: 12px 0 0 27px;
    width: 83px;
}
.sortbyregions {
    float: right;
    width: 115px !important;
}
.sortbyregions li {
    border-bottom: 1px solid #E4E7E7;
    width: 115px !important;
}
.sortbyregions li a {
    background: none repeat scroll 0 0 transparent !important;
    height: 20px !important;
    margin: 0;
    min-height: 20px !important;
    padding: 0 !important;
    text-align: right;
    width: 115px !important;
}
.sortbyregions li a:hover {
    color: #F37021;
}
.pressgallerybox {
    padding-top: 30px;
    width: 550px;
}
.pressgallerybox li {
    background: none repeat scroll 0 0 transparent !important;
    display: inline !important;
    float: left;
    height: 120px;
    margin: 0 30px;
    padding: 0 !important;
    width: 115px;
}
.pressgallerybox li a {
    display: block;
    font-size: 12px;
    height: 15px;
    overflow: hidden;
    padding-top: 105px;
    text-align: center;
    width: 115px;
}
.pressgallerybox .btn_press01 {
    background: url("../images/press/btn_press_gallery.jpg") no-repeat scroll 0 0 transparent;
}
.pressgallerybox .btn_press02 {
    background: url("../images/press/btn_press_gallery.jpg") no-repeat scroll -115px 0 transparent;
}
.pressgallerybox .btn_press03 {
    background: url("../images/press/btn_press_gallery.jpg") no-repeat scroll -230px 0 transparent;
}
.pressgallerybox .btn_press01:hover {
    background: url("../images/press/btn_press_gallery.jpg") no-repeat scroll 0 -120px transparent;
    text-decoration: none;
}
.pressgallerybox .btn_press02:hover {
    background: url("../images/press/btn_press_gallery.jpg") no-repeat scroll -115px -120px transparent;
    text-decoration: none;
}
.pressgallerybox .btn_press03:hover {
    background: url("../images/press/btn_press_gallery.jpg") no-repeat scroll -230px -120px transparent;
    text-decoration: none;
}
.publicationsbox_index {
    width: 550px;
}
.publicationsbox_index td {
    padding: 0 0 5px;
}
.publicationsbox_index .centertdbox {
    padding: 0 14px 5px !important;
}
.tdboxlink {
    border: 2px solid #FFFFFF;
    display: block;
}
.tdboxlink:hover {
    border: 2px solid #FF6633;
}
.publicationsbox_index img {
    width: 170px;
}
.btn_photosdl {
    background: url("../images/press/icon_logozip.jpg") no-repeat scroll 0 0 transparent;
    color: #84888B !important;
    display: block;
    float: right;
    height: 14px;
    padding: 12px 0 0 27px;
    width: 83px;
}
.btn_preview {
    color: #F37021 !important;
    font-size: 11px;
    text-decoration: underline !important;
}
.contactformtable input {
    font-family: Arial,sans-serif;
    font-size: 11px;
}
